.special-product-card{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid rgba(119, 119, 119, 0.1215686275);
  }
  .progress-bar{
  }
  .progress{
    height: 4px;
    width: 90%;
  }
  .change-page{
    padding: 2px;
    cursor: pointer;
    color: #000;
  }
  .img-orther{
    cursor: pointer;
    border:1px solid #7777771f;
  }
  .wrap-img-orther{
    width:90%;
  }

  .brand{
    font-size: 15px;
    font-weight: 300;
    color: red;
  }
  .day-till{
    color: #000;
    font-weight: bold;
  }
  .title{
    width: 90%;
    font-weight: 600;
    color:#000;
  }
  .product-special-intro{    
    background-color: #4E6073;
    border-radius: 10px;
    padding:3px;
  }
  .special-intro-text{
    padding: 20px;
  }
  .change-image{
    font-size: 12px;
    margin: auto 0;
  }