
.header-top-strip {
    border-bottom: 1px solid var(--color-3b4149);
    background-color: var(--color-131921);
  }
  .header-upper {
    background-color: var(--color-131921);
  }
  .header-bottom {
    background-color: var(--color-232f3e);
  }
  .header-upper .input-group-text {
    background-color: var(--color-febd69);
  }
  .header-upper.header-upper-links img {
    width: 28px;
    height: 28px;
  }
  .header-bottom .menu-links a,
  .header-bottom .dropdown button {
    color: white;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  
  .header-bottom .dropdown button:focus {
    box-shadow: none;
  }
  .header-bottom .dropdown-menu {
    background-color: var(--color-131921);
    width: 100%;
    transform: translate3d(0px, 57px, 0px) !important;
  }
  .header-bottom .dropdown-item {
    padding: 20px;
    border-bottom: 1px solid var(--color-3b4149);
  }
  .header-bottom .dropdown-item:first-child{
    margin-top: -8px;
  }
  .header-bottom .dropdown-item:last-child{
    margin-bottom: -8px;
  }
  .header-bottom .dropdown-item:hover {
    background-color: transparent;
    color: var(--color-febd69) !important;
  }
  .badge{
    padding: 6px;
    width: 30px;
    color: white;
    background-color: var(--color-f50032);
    border-radius: 50%;
  }