.wishlist-card h5.title {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-1c1c1b);
}
.wishlist-card h6.price {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
.wishlist-card .cross {
    top: 15px;
    right: 15px;
    width: 20px;
    padding: 3px;
    cursor: pointer;
}
.price{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.price-default{
    font-weight: 400;
    font-size: 14px;
    color:var(--color-1c1c1b)
}