/* Our Store */
.filter-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
  }
  .filter-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 20px;
  }
  .filter-card ul,
  .filter-card .form-check-label {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-777777a8);
    cursor: pointer;
  }
  .filter-card .form-check-input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
  }
  .filter-card .form-check-input:checked {
    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
  }
  .sub-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 15px;
    margin-top: 20px;
  }
  .colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .colors li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .random-products h5 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .random-products:first-child {
    border-bottom: 1px solid var(--color-ededed);
  }
  .filter-sort-grid {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
  .grid img {
    width: 35px;
    height: 35px;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  .grid .active{
    background-color: #fff;
  }
  .gr-12 {
    width: 100%;
  }
  .gr-6 {
    width: 49%;
  }
  .gr-4 {
    width: 32%;
  }
  .gr-3 {
    width: 24%;
  }
  .gr-12 .product-card {
    display: flex;
    gap: 30px;
  }
  .gr-6 .product-image {
    width: 100%;
  }
  .gr-6 .product-image img {
    margin: auto;
    display: block;
  }
  .gr-12 .product-card .product-image {
    width: 270px;
  }
  .gr-12 .product-card .product-image {
    height: auto;
  }
  .gr-12 .action-bar {
    top: 17%;
  }
  .form-control-price{
    border: none;
    padding: 6px;
    border-radius: 3px;
    background-color: var(--color-b3aaaa24);
  }
  .filter-option-wrapper{
    margin-left: 10px;
  }
  .product-tags-item{
    font-size: 13px;
    padding: 7px;
    background-color: var(--color-b3aaaa24);
    border-radius: 4px;
  }
  .pagination{
    border-radius: 6px;
    background-color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
  .pagination p{
    border-radius: 4px;
    background-color: var(--color-b3aaaa24);
    padding: 4px;
  }
  .pagination-item span{
    margin: 0 10px;
  }
  .pagination-item .active{
    background-color: var(--color-232f3e);
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
  }
  
  /* Our store ends here */