.input-custom{
    padding: 8px;
    border: none !important;
    background-color: var(--color-b3aaaa24);
    border-radius: 4px;
    &:focus {
        box-shadow: none;
        border: inherit;
    }
}