.popular-prod{
    background-color: #fff;
    border-radius: 10px;
    padding: 14px 18px;
    margin-bottom: 15px;
  }
  .popular-prod-type{
    margin: 10px;
  }
  .popular-prod-type img{
    width:50px
  }
  .popular-prod-name{
    font-size: 14px;
    margin-left: 16px;
  }
  .img-intro-sale{
    padding-left: 12px;
  }
  .popular-wrapper .product-card{
    width: 200px;
  }
  .button-prev{
    right: 30px;
  }
  .button-prev,
  .button-next{
    font-size: 18px;
    margin:0 20px;
    cursor: pointer;
  }
  